<app-header></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="true">
    <app-left-nav></app-left-nav>
  </mat-drawer>
  <mat-drawer-content>

    <mat-card style="margin-top:2rem">
      <mat-card-header>
        <mat-card-title>
          Form
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="this.form" class="flex">
          <div>
            <mat-form-field>
              <input matInput placeholder="Office Id" formControlName="officeId">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="User Id" formControlName="userId">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Service Endpoint" formControlName="serviceEndpoint">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Pseudo City Code" formControlName="pseudoCityCoe">
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer class="pad">
        <button mat-button (click)="submit()">Submit</button>
      </mat-card-footer>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>